$colornavbar: #552633;
$colorWhite: white;
$colorBlack: black;
$colorButton: #FF5D22;
$colorMainOne: #65258A;
$colorMainTow: #DF0768;
$colorServices: #F1F8FB;
$colorCline: #221638;
$colorIcon: #707FA1;
$colorFooter: #6B6B84;
$colorText: #9898A8;