@import "color";

// start public
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $colorButton;
}

.nav-link {
    color: $colornavbar;
}

.hoverLink:hover,
.link_active,
.nav-link:hover {
    color: $colorButton !important;
}

.iconSize {
    font-size: 12px;
}

.buttonNavbar {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $colorButton;
    transition: 0.3s;
}

.buttonNavbar::before {
    content: "";
    position: absolute;
    background-color: $colorBlack;
    width: 0;
    height: 0;
    bottom: 0;
    left: 15%;
    border-radius: 50%;
    transition: 0.5s;
}

.buttonNavbar:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    left: 0;
}

.buttonNavbar:hover {
    transform: translate(0, -5px);
}

.tagSize {
    font-size: 50px;
}

.colorText {
    color: $colorText;
}

// end public
// start navbar
body header {
    z-index: 2;
}

body header .container button .iconMenu {
    color: $colorButton !important;
}

body header .container .navbar-toggler:focus {
    box-shadow: 0 0 0 var(--white);
}

body header .container div .ulHeight .hoverList div .divBoxNavbar {
    min-width: 15%;
}

body header .container div .ulHeight .hoverList div .divBoxNavbar .liBetween .divBoxBox,
body header .container div .ulHeight .hoverList div .divBoxNavbar {
    border-top: 4px solid $colorButton;
}

body header .container div .ulHeight .hoverList .link_hover {
    transition: 0.5s;
}

body header .container div .ulHeight .hoverList:hover {
    a {

        .iconSize,
        span {
            color: $colorButton;
        }
    }

    .divBoxNavbar {
        display: flex !important;
    }
}

body header .container div .ulHeight .hoverList div .divBoxNavbar .liBetween:hover {

    .iconSize,
    .hoverBetween {
        color: $colorButton !important;
    }

    .divBoxBox {
        display: block !important;
    }
}

body header .container div .ulHeight .hoverList div .divBoxNavbar .liBetween .divBoxBox {
    width: 220px;
    margin-top: 100px;
    left: -220px;
}

// end navbar
// start main
body main {
    background: linear-gradient(90deg, $colorMainOne, $colorMainTow);
    height: 110vh;
}

// end main
// start arrawTop
body section a .divArrow {
    right: 25px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    background-color: $colorCline;
    transition: 0.3s;
    z-index: 1;
}

body section a .divArrow:hover {
    transform: translate(0, -10px);
    background-color: $colorButton;
}

// end arrawTop
// start Services
body .sectionServices {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $colorServices;
}

body .sectionServices .container .row div div .hoverReadMore .iconLeft {
    margin-top: 5.5px;
}

body .sectionServices .container .row div div .hoverReadMore {
    width: 40%;

    .iconLeft,
    span {
        transition: 0.3s;
    }
}

body .sectionServices .container .row div div .hoverReadMore:hover {
    color: $colorBlack !important;

    span {
        transform: translate(5px, 0);
    }

    .iconLeft {
        transform: translate(-110px, 0);
    }
}

// end Services
// start about us
body .sectionAbout .container div .row div div .pSize {
    font-size: 17px;
}

body .sectionAbout .container div .row div div .imageWidth {
    width: 90%;
}

body .sectionAbout .container div .rowReverse {
    flex-direction: row-reverse;

    div {
        div {
            text-align: left !important;
        }
    }
}

body .sectionAbout .container div .row div div div .divProblems {
    background-color: $colorServices;
    padding-top: 12px;
    padding-bottom: 12px;
}

body .sectionAbout .container div .row div div div .divProblems::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $colorButton;
    transition: 0.5s;
}

body .sectionAbout .container div .row div div div .divProblems:hover {
    div {
        p {
            color: $colorWhite;
        }

        .iconCheck {
            color: $colorBlack !important;
            background-color: $colorWhite;
        }
    }
}

body .sectionAbout .container div .row div div div .divProblems:hover::before {
    width: 100%;
}

body .sectionAbout .container div .row div div div .divProblems div .iconCheck {
    transition: 0.4s;
    background-color: $colorButton;
}

// end about us
// start numbers
body .sectionNumbers {
    margin-top: 150px;
}

body .sectionNumbers::before {
    content: "";
    background-image: url("/image/imageBackground.jpg");
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

// end numbers
// start projects
body section .container .rowGap {
    row-gap: 50px;
}

body section .container .rowGap div .card:hover {
    div {
        .hoverImage {
            opacity: 1;
        }
    }

    .card-img-top {
        transform: scale(1.1) rotate(10deg);
    }
}

body section .container .rowGap div .card .hoverImage {
    top: 10px;
    left: 10px;
    width: 95%;
    height: 95%;
    background-color: $colorButton;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

body section .container .rowGap div .card .hoverImage .divPlus {
    width: 40px;
    height: 40px;
}

body section .container .rowGap div .card .card-body {
    background-color: $colorCards;
}

body section .container .rowGap div .card .card-img-top {
    margin-top: -30px;
    width: 110%;
    z-index: 0;
    transition: 0.3s;
}

// end projects
// start team
body section .container .row div .cardHover:hover {
    .divBoxIcon {
        bottom: 100px;
        opacity: 1;
    }
}

body section .container .row div .cardHover .divBoxIcon {
    transition: 0.3s;
    bottom: 90px;
    opacity: 0;
}

body section .container .row div .cardHover .divBoxIcon .divIcon {
    background-color: $colorCards;
    width: 35px;
    height: 35px;
    transition: 0.3s;
}

body section .container .row div .cardHover .divBoxIcon .divIcon:hover {
    color: $colorWhite !important;
    background-color: $colorButton;
}

// end team
// start clients
body .sectionClients {
    background-color: $colorCline;
}

body .sectionClients::after {
    content: url("/image/vectorBackground2.png");
    position: absolute;
    left: 0;
    bottom: 0;
}

body .sectionClients::before {
    content: url("/image/vectorBackground1.png");
    position: absolute;
    right: 0;
    top: 0;
}

body .sectionClients .container div .caourselBottom {
    padding-bottom: 30px !important;
}

body .sectionClients .container div .caourselBottom .imageSaying {
    top: -30px;
    width: 75px !important;
    border: 4px solid $colorImage;
}

.owl-carousel .owl-stage-outer {
    padding-top: 30px;
}

body .sectionClients .container div .caourselBottom .beforeImage::before {
    content: url("/image/iconSaying.PNG");
    position: absolute;
    width: 200px;
    bottom: 10px;
    right: 20px;
}

.owl-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -30px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: $colorBlack;
    background-color: $colorWhite;
    transition: 0.3s;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel button.owl-dot:hover {
    color: $colorWhite;
    background-color: $colorButton;
}

.owl-dots {
    display: none;
}

// end clients
// start plan
body .sectionServices .container .row div .cardMoney div .sizeMoney {
    font-size: 40px;
}

body .sectionServices .container .row div .cardMoney {
    transition: 0.4s;
}

body .sectionServices .container .row div .cardMoney:hover {
    margin-top: -10px;
    box-shadow: 0 0 10px $colorShdow;
}

body .sectionServices .container .row div .cardMoney div .sizeSpan {
    font-size: 20px;
}

body .sectionServices .container .row div .cardMoney div .spanMoney {
    bottom: 13px;
}

body .sectionServices .container .row div .cardMoney ul .listSize {
    font-size: 17px;
}

body .sectionServices .container .row div .cardMoney ul li .iconCheckSize {
    width: 15px;
    height: 15px;
    font-size: 5px;
    background-color: $colorGreen;
}

body .sectionServices .container .row div .cardMoney ul li .iconCheckSizeFalse {
    background-color: $colorRed !important;
}

// end plan
// start projects1
body .sectionClients .container .row div div div div .buttonNavbarWhite::before {
    background-color: $colorWhite !important;
}

body .sectionClients .container .row div div div div .buttonNavbarWhite:hover {
    color: $colorBlack !important;
}

// end projects1
// start valuable
body .container .row div .hoverTop {
    transition: 0.3s;
}

body .container .row div .hoverTop:hover {
    margin-top: -10px;
}

body section .container .row div div div div div .imageValuable {
    width: 40px;
}

body .container .row div .hoverTop .imageRounded {
    border-radius: 8px 8px 0 0;
}

// end valuable
// start footer
.sectionFooter {
    background-color: $colorFooter;
}

.sectionFooter::before {
    content: "";
    position: absolute;
    background-image: url("/image/footer-map.png");
    background-size: 50% 220px;
    width: 50%;
    left: 30%;
    height: 220px;
}

.listColor {
    padding: 4px 9px;
    background-color: $colorIconFooter;
}

.hoverFooter {
    font-size: 18px;
}

.hoverFooter:hover {
    color: $colorButton;

    a {
        color: $colorButton;
    }
}

.listColor:hover {
    background-color: $colorButton;
}

// end footer
// start media
@media(max-width: 990px) {
    body header .container div .ulHeight .hoverList div .divBoxNavbar {
        display: block !important;
        position: relative !important;
        border: transparent;
        width: 100%;
        box-shadow: 0 0 10px #ccc;
    }

    body header .container div .ulHeight {
        overflow: auto;
        height: 90vh;
    }

    body header .container div .ulHeight .hoverList {
        width: 95%;
    }

    body header .container div .ulHeight .hoverList div .divBoxNavbar .liBetween .divBoxBox {
        width: 90%;
        border-top: transparent;
        box-shadow: 0 0 10px #ccc;
        margin-top: 10px;
        left: 0;
        position: relative !important;
        display: block !important;
    }

    .tagSize {
        font-size: 18px;
    }

    body main .container .row div div .divWidth {
        width: 40% !important;
    }

    .width100 {
        width: 100% !important;
    }

    body .sectionServices {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    body .sectionNumbers {
        margin-top: 50px;
    }
}

// end media