@import "color";

// start public
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $colorButton;
}

.nav-link {
    letter-spacing: 1px;
    color: $colornavbar;
}

.hoverLink:hover,
.link_active,
.nav-link:hover {
    color: $colorButton !important;
}

.iconSize {
    font-size: 12px;
}

.buttonNavbar {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $colorButton;
    transition: 0.3s;
}

.buttonNavbar::before {
    content: "";
    position: absolute;
    background-color: $colorBlack;
    width: 0;
    height: 0;
    bottom: 0;
    left: 15%;
    border-radius: 50%;
    transition: 0.5s;
}

.buttonNavbar:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    left: 0;
}

.buttonNavbar:hover {
    transform: translate(0, -5px);
}

.tagSize {
    font-size: 50px;
}

.colorText {
    color: $colorText;
}

// end public
// start navbar
body header {
    z-index: 1;
}

body header .container button .iconMenu {
    color: $colorButton !important;
}

body header .container .navbar-toggler:focus {
    box-shadow: 0 0 0 var(--white);
}

body header .container div .ulHeight .hoverList div .divBoxNavbar {
    min-width: 20%;
}

body header .container div .ulHeight .hoverList div .divBoxNavbar .liBetween .divBoxBox,
body header .container div .ulHeight .hoverList div .divBoxNavbar {
    border-top: 4px solid $colorButton;
}

body header .container div .ulHeight .hoverList .link_hover {
    transition: 0.5s;
}

body header .container div .ulHeight .hoverList:hover {
    a {

        .iconSize,
        span {
            color: $colorButton;
        }
    }

    .divBoxNavbar {
        display: flex !important;
    }
}

body header .container div .ulHeight .hoverList div .divBoxNavbar .liBetween:hover {

    .iconSize,
    .hoverBetween {
        color: $colorButton !important;
    }

    .divBoxBox {
        display: block !important;
    }
}

body header .container div .ulHeight .hoverList div .divBoxNavbar .liBetween .divBoxBox {
    width: 220px;
    margin-top: 100px;
    left: -220px;
}

// end navbar
// start main
body main {
    background: linear-gradient(90deg, $colorMainOne, $colorMainTow);
    height: 110vh;
}

// end main
// start arrawTop
body section a .divArrow {
    right: 25px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    background-color: $colorCline;
    transition: 0.3s;
}

body section a .divArrow:hover {
    transform: translate(0, -10px);
    background-color: $colorButton;
}

// end arrawTop
// start Services
body .sectionServices {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $colorServices;
}

body .sectionServices .container .row div div .hoverReadMore .iconLeft {
    margin-top: 5.5px;
}

body .sectionServices .container .row div div .hoverReadMore {

    .iconLeft,
    span {
        transition: 0.3s;
    }
}

body .sectionServices .container .row div div .hoverReadMore:hover {
    color: $colorBlack !important;

    span {
        transform: translate(5px, 0);
    }

    .iconLeft {
        transform: translate(-110px, 0);
    }
}

// end Services
// start about us
.pSize {
    font-size: 17px;
}

// end about us
// start media
@media(max-width: 990px) {
    body header .container div .ulHeight .hoverList div .divBoxNavbar {
        display: block !important;
        position: relative !important;
        border: transparent;
        width: 100%;
        box-shadow: 0 0 10px #ccc;
    }

    body header .container div .ulHeight {
        overflow: auto;
        height: 90vh;
    }

    body header .container div .ulHeight .hoverList {
        width: 95%;
    }

    body header .container div .ulHeight .hoverList div .divBoxNavbar .liBetween .divBoxBox {
        width: 90%;
        border-top: transparent;
        box-shadow: 0 0 10px #ccc;
        margin-top: 10px;
        left: 0;
        position: relative !important;
        display: block !important;
    }

    .tagSize {
        font-size: 18px;
    }

    body main .container .row div div .divWidth {
        width: 40% !important;
    }

    .width100 {
        width: 100% !important;
    }

    body .sectionServices {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

// end media